<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="face-api.js"></script>
  <script src="js/commons.js"></script>
  <script src="js/faceDetectionControls.js"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
  
  <div id="navbar"></div>
  
  <div class="title-container">
    <h1 class="title" >License Verification</h1>
    <p class="text">We need to make sure it’s really you! You will able to start booking/listing spots once you are successfully verified.</p>
  </div>
  <div class="center-content page-container">
    <div class="header-container">
      <p class="header">3, 2, 1 ... Take a selfie!</p>
    </div>
    <div style="position: relative" class="margin">
      <img id="refImg" src="./selfiePlaceholder.png" style="max-width: 800px;" />
      <canvas id="refImgOverlay" class="overlay"/>
    </div>

    <div class="row side-by-side">
      <!-- image_selection_control -->
      <div class="row">
        <div>
          <input id="refImgUploadInput" type="file" class="bold" onchange="uploadRefImage()" accept=".jpg, .jpeg, .png" capture="user">
        </div>
      </div>
    </div>

    <div class="header-container">
      <p class="header">Make sure license is in frame.</p>
    </div>
    <div style="position: relative" class="margin">
      <img id="queryImg" src="./licensePlaceholder.png" style="max-width: 800px;" />
      <canvas id="queryImgOverlay" class="overlay"/>
    </div>

    <div class="row side-by-side">

      <!-- image_selection_control -->
      <div class="row">
        <div>
          <input id="queryImgUploadInput" type="file" class="bold" onchange="uploadQueryImage()" accept=".jpg, .jpeg, .png" capture="environment">
        </div>
      </div>
    </div>
 
    <div class="input-container">
      <!-- face_detector_selection_control -->
      <div hidden id="face_detector_selection_control" class="row input-field">
        <select id="selectFaceDetector">
          <option value="ssd_mobilenetv1">SSD Mobilenet V1</option>
          <option value="tiny_face_detector">Tiny Face Detector</option>
        </select>
        <label>Select Face Detector</label>
      </div>
      <button class="button" type="button" onclick="verifyMe()">Verify Me</button>
    </div>

  </body>

  <script>
    let faceMatcher = null
    let score = 1;

    async function uploadRefImage(e) {
      const imgFile = $('#refImgUploadInput').get(0).files[0]
      const img = await faceapi.bufferToImage(imgFile)
      $('#refImg').get(0).src = img.src

      // Calculate and set the dimensions of the image based on the aspect ratio
      const refImg = $('#refImg').get(0);
     // refImg.addEventListener('load', () => {
      const aspectRatio = refImg.naturalWidth / refImg.naturalHeight;
      // const maxWidth = 256;
      // const maxHeight = 175;
      const maxWidth = 292;
      const maxHeight = 200;

      refImg.style.maxWidth = maxWidth + "px";
      refImg.style.maxHeight = maxHeight + "px";

      // if (aspectRatio > maxWidth / maxHeight) {
      //   refImg.style.maxWidth = maxWidth + "px";
      //   refImg.style.maxHeight = maxHeight + "px";
      // } else {
      //   refImg.style.maxWidth = "";
      //   refImg.style.maxHeight = maxHeight + "px";
      // }
      updateReferenceImageResults()
   // })
  }

    async function uploadQueryImage(e) {
      const imgFile = $('#queryImgUploadInput').get(0).files[0]
      const img = await faceapi.bufferToImage(imgFile)
      $('#queryImg').get(0).src = img.src

      const queryImg = $('#queryImg').get(0);
      const aspectRatio = queryImg.naturalWidth / queryImg.naturalHeight;
   
      const maxWidth = 292;
      const maxHeight = 200;

      queryImg.style.maxWidth = maxWidth + "px";
      queryImg.style.maxHeight = maxHeight + "px";
      updateQueryImageResults()
    }

    async function updateReferenceImageResults() {
      const inputImgEl = $('#refImg').get(0)
      const canvas = $('#refImgOverlay').get(0)

      const fullFaceDescriptions = await faceapi
        .detectAllFaces(inputImgEl, getFaceDetectorOptions())
        .withFaceLandmarks()
        .withFaceDescriptors()

      if (!fullFaceDescriptions.length) {
        return
      }

      // create FaceMatcher with automatically assigned labels
      // from the detection results for the reference image
      faceMatcher = new faceapi.FaceMatcher(fullFaceDescriptions)

      faceapi.matchDimensions(canvas, inputImgEl)
      // resize detection and landmarks in case displayed image is smaller than
      // original size
      const resizedResults = faceapi.resizeResults(fullFaceDescriptions, inputImgEl)
      // draw boxes with the corresponding label as text
      const labels = faceMatcher.labeledDescriptors
        .map(ld => ld.label)
      resizedResults.forEach(({ detection, descriptor }) => {
        const label = faceMatcher.findBestMatch(descriptor).toString()
        const options = { label }
        const drawBox = new faceapi.draw.DrawBox(detection.box, options)
        drawBox.draw(canvas)
      })
    }

    async function updateQueryImageResults() {
      if (!faceMatcher) {
        return
      }

      const inputImgEl = $('#queryImg').get(0)
      const canvas = $('#queryImgOverlay').get(0)

      const results = await faceapi
        .detectAllFaces(inputImgEl, getFaceDetectorOptions())
        .withFaceLandmarks()
        .withFaceDescriptors()

      faceapi.matchDimensions(canvas, inputImgEl)
      // resize detection and landmarks in case displayed image is smaller than
      // original size
      const resizedResults = faceapi.resizeResults(results, inputImgEl)

      resizedResults.forEach(({ detection, descriptor }) => {
        const label = faceMatcher.findBestMatch(descriptor).toString()
        const options = { label }
        let match = options.label.match(/\d+\.\d+/);
        let num = match ? match[0] : null;
        score = Number(num);
        const drawBox = new faceapi.draw.DrawBox(detection.box, options)
        drawBox.draw(canvas)
      })
    }

    async function updateResults() {
      await updateReferenceImageResults()
      await updateQueryImageResults()
    }

    async function run() {
      // load face detection, face landmark model and face recognition models
      await changeFaceDetector(selectedFaceDetector)
      await faceapi.loadFaceLandmarkModel('/')
      await faceapi.loadFaceRecognitionModel('/')
    }

    function verifyMe() {
      if(score <= 0.6){
        fetch("https://parcade.loca.lt/listings")
        .then((data) => {
          console.log(data);
          window.location.href = data.url;
        })
        .catch((error) => {
          console.error("Error:", error);
        });    
      }else{
        alert("We have detected your identification does not match, please try again.");
      }
    }

    $(document).ready(function() {
      renderNavBar('#navbar', 'face_recognition')
      initFaceDetectionControls()
      run()
    })
  </script>
</body>
</html>